body {
    padding: 2rem;
    padding-top: 0;
}

.error {
    background: red;
}

.good {
    background: green;
}

.error,
.good {
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.links {
    margin-top: 3rem;
}

.links h3 {
    font-style: italic;
}

form {
    padding: 2em;
    width: 50vw;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    background: gainsboro;
    border-width: 1rem;
    border-radius: 1rem;
    border-color: green;
    border-style: solid;
}

form * {
    width: 100%;
    margin: auto;
    box-sizing: border-box
}

form h3 {
    margin-bottom: 1rem;
    text-align: center;
}

form label {
    font-size: .9rem;
}

form input,
form select {
    margin-top: .3rem;
    margin-bottom: 1rem;
    padding: .2rem;
    border-radius: .25rem;
    border: 0;
    background: white;
}

form input[type=submit] {
    background: green;
    border: 0;
    color: white;
    font-weight: bold;
}